@page "/ReservationHistory"
@attribute [Authorize(Policy = "CustomerOnly")]

@using CarRentalClientServer.Models
@using CarRentalClientServer.Data
@using CarRentalClientServer.Authentification
@using CarRentalClientServer.Utilities
@inject AuthenticationStateProvider authenticationStateProvider

@inject IReservationService reservationService;
@inject IVehicleService vehicleService;
@inject ICustomerService customerService;
@inject IEmployeeService employeeService;

<Div Padding="Padding.Is4"></Div>
<Jumbotron>
    <JumbotronTitle Size="JumbotronTitleSize.Is3">Reservations History</JumbotronTitle>
    <JumbotronSubtitle>
        The whole reservation list.
    </JumbotronSubtitle>
    @if (showError)
    {
        <Paragraph TextColor="TextColor.Danger">
            @errorLabel
        </Paragraph>
    }
</Jumbotron>

<DataGrid TItem="ReservationFormatted" Data="@reservationList"
          Sortable="true" Filterable="true" Editable="true"
          EditMode="DataGridEditMode.Form" UseInternalEditing
          ShowPager="true" PageSize="10"
          RowUpdated="@OnRowUpdated"  
          RowRemoved="@OnRowRemoved"
          ReadData="@LoadFromService">
    <DataGridColumns>
        <DataGridCommandColumn TItem="ReservationFormatted">
            <SaveCommandTemplate>
                <Button Color="Color.Success" Clicked="@context.Clicked">Save</Button>
            </SaveCommandTemplate>
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="@context.Clicked">Edit</Button>
            </EditCommandTemplate>
            <CancelCommandTemplate>
                <Button Color="Color.Secondary" Clicked="@context.Clicked">Cancel</Button>
            </CancelCommandTemplate>
            <DeleteCommandTemplate>
                            <Button Color="Color.Danger" Clicked="@context.Clicked">Delete</Button>
                        </DeleteCommandTemplate>
        </DataGridCommandColumn>


        <DataGridColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.Id)" Caption="ID"/>
        <DataGridNumericColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.VehicleId)" Caption="Vehicle Id" Editable="true"/>
        <DataGridColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.VehicleName)" Caption="Vehicle Name" Editable="false"/>
        <DataGridColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.SecurityDeposit)" Caption="Security Deposit" Editable="false"
                        DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")"/>
        <DataGridDateColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.DateCreated)" Caption="Date Created" Editable="false" DisplayFormat="{0:dd.MM.yyyy HH:mm}"/>
        <DataGridDateColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.DateStart)" Caption="Date Start" Editable="true" DisplayFormat="{0:dd.MM.yyyy HH:mm}">
            <EditTemplate>
                <DateEdit TValue="DateTime?" Date="@((DateTime?)context.CellValue)" DateChanged="@(v => context.CellValue = v)" InputMode="DateInputMode.DateTime" />
            </EditTemplate>
        </DataGridDateColumn>
        <DataGridDateColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.DateEnd)" Caption="Date End" Editable="true" DisplayFormat="{0:dd.MM.yyyy HH:mm}">
            <EditTemplate>
                <DateEdit TValue="DateTime?" Date="@((DateTime?)context.CellValue)" DateChanged="@(v => context.CellValue = v)" InputMode="DateInputMode.DateTime" />
            </EditTemplate>
        </DataGridDateColumn>
        <DataGridColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.AllowedKm)" Caption="Allowed Km" Editable="false"/>
        <DataGridColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.PaymentAmount)" Caption="Payment Amount" Editable="false"
                        DisplayFormat="{0:C}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("fr-FR")"/>
        <DataGridDateColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.BillDate)" Caption="Bill Date" Editable="false" DisplayFormat="{0:dd.MM.yyyy}"/>
        <DataGridColumn TItem="ReservationFormatted" Field="@nameof(ReservationFormatted.IsPaid)" Caption="Paid" Editable="false"/>
    </DataGridColumns>

    <EmptyTemplate>
        <div class="box">
            No Reservations history was found, just Rent a car!
        </div>
    </EmptyTemplate>
    <LoadingTemplate>
        <div class="box">
            <Progress class="progress is-small is-primary" @ref="progressRef" Color="Color.Primary" Max="100" Value="progress"/>
        </div>
    </LoadingTemplate>
</DataGrid>


@code {

    protected Progress progressRef = new();
    protected int progress;

    private bool showError = false;
    private string errorLabel = "Error label";

    private Modal modalInfo;
    private IList<ReservationFormatted> reservationList = null;

    //test parts below, delete after connection finished
    private ReservationFormatted selectedReservation;

    string selectedStatusFilter;

    async Task OnRowUpdated(SavedRowItem<ReservationFormatted, Dictionary<string, object>> item)
    {
        showError = false;
        try
        {
            var updatingReservation = item.Item;
            var days = ReservationFormatted.GetDaysBetweenTime(updatingReservation.DateStart, updatingReservation.DateEnd);
            updatingReservation.BillDate = updatingReservation.DateEnd.AddDays(1);
            updatingReservation.AllowedKm = days * 100;
            updatingReservation.PaymentAmount = days * updatingReservation.Vehicle.PricePerDay;
            
            if (updatingReservation.DateStart.CompareTo(updatingReservation.DateEnd) >= 0 || updatingReservation.DateStart.CompareTo(DateTime.Now) < 0)
            {
                errorLabel = "Select valid dates, the start date must be before the end date";
                showError = true;
                StateHasChanged();
                return;
            }
            
            
            var r = updatingReservation.ToVanillaReservation();
            var isValid = await CheckAvailabilityUtility.CheckForAvailability(r.DateStart, r.DateEnd, r.Vehicle.Id, vehicleService);

            if (!isValid)
            {
                errorLabel = "On these times, the vehicle isn't available";
                showError = true;
                StateHasChanged();
                return;
            }
            
            r.Vehicle = await vehicleService.GetVehicleAsync(updatingReservation.VehicleId);
            await reservationService.UpdateReservationAsync(r);
            reservationList = ReservationFormatted.FormatReservations(await reservationService.GetReservationsAsync());
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = "Error while updating";
            showError = true;
            StateHasChanged();
        }
    }

    

    async Task OnRowRemoved(ReservationFormatted reservation)
    {
        showError = false;
        try
        {
            await reservationService.DeleteReservationAsync(reservation.Id);
            reservationList = ReservationFormatted.FormatReservations(await reservationService.GetReservationsAsync());
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = "Error while removing";
            showError = true;
            StateHasChanged();
        }
    }
    
    async Task LoadFromService(DataGridReadDataEventArgs<ReservationFormatted> gridReadDataEventArgs)
    {
        showError = false;
        progressRef.Animated = true;
        progress = 0;
        await InvokeAsync(StateHasChanged);
        try
        {
            progress = 5;
            await InvokeAsync(StateHasChanged);
            var fetchedReservations = reservationService.GetReservationsByCustomerAsync(((CustomAuthenticationStateProvider) authenticationStateProvider).GetLoggedInUser().UserId);
            progress = 33;
            await Task.Delay(300);
            await InvokeAsync(StateHasChanged);
            await fetchedReservations;
            progress = 66;
            await Task.Delay(500);
            await InvokeAsync(StateHasChanged);
            reservationList = ReservationFormatted.FormatReservations(fetchedReservations.Result).ToList();
            progress = 100;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            progress = 100;
            await InvokeAsync(StateHasChanged);
            Console.WriteLine(e);
            errorLabel = "Error while loading data";
            showError = true;
        }
    }

}